html{
    height:100%;
}
body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to bottom, #ffdab9, #ffdfd6, #ffe8ef, #fff4fd, #ffffff);
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    }
.nav ul{
    list-style:none;
    background-color: #686868;
    text-align:center;
    padding:0;
    margin:0;
   
}

.nav li{
    font-size:1.2em;
    line-height: 40px;
    height : 40px;
    border-bottom: 1px solid #686868;
    font-family: 'Raleway', sans-serif;

}

.nav a {
    text-decoration:none;
    color:#fff;
    display:block;
    transition:.3s background-color;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
   

}

.nav a:hover{
background-color:black;

}
.nav a.active{
    background-color:#fff;
    color:#686868;
    cursor:default;

}
@media screen and (min-width:600px){
    .nav li{
        width:200px;
        border-bottom:none;
        height: 50px;
        line-height:50px;
        font-size:1.4em;

    }

}
.nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 800px;
    margin: 0 auto;
  }
  .nav {
    box-shadow: 6px 6px  #585858;
    background-color:  #686868;
  }

.white-box {
    margin: 50px;
    box-shadow: 6px 6px  #585858;
    background-color: #686868;
    height: 500px;
      width: 90%;
    
  }

.white-box h1 {
    font-family: raleway;
}

  .image-github {
      margin: 0 auto;
      height: 100%;
      width: fit-content;
  }
h1 {
    font-family: 'Raleway', sans-serif;
    text-align:center;
    color:white;
}
