@import url('https://fonts.googleapis.com/css?family=Raleway');
html{
    height:100%;
}
body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to bottom, #ffdab9, #ffdfd6, #ffe8ef, #fff4fd, #ffffff);
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    background-attachment:fixed;
    }
.nav ul{
    list-style:none;
    background-color: #6E8898;
    text-align:center;
    padding:0;
    margin:0;
   }

.nav li{
    font-size:1.2em;
    line-height: 40px;
    height : 40px;
    border-bottom: 1px solid #6E8898;
    font-family: 'Raleway', sans-serif;

}

.nav a {
    text-decoration:none;
    color:#fff;
    display:block;
    transition:.3s background-color;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size:15px;
   

}

.nav a:hover{
background-color:black;

}
.nav a.active{
    background-color:#fff;
    color:#6E8898;
    cursor:default;

}
@media screen and (min-width:600px){
    .nav li{
        width:200px;
        border-botton:none;
        height: 50px;
        line-height:50px;
        font-size:1.4em;

    }

}
.nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 800px;
    margin: 0 auto;
  }
  .nav {
    box-shadow: 6px 6px  #4F616C;
    background-color: #6E8898;
    
}
  
  .white-box {
    margin: 50px;
    box-shadow: 6px 6px  #4F616C;
    background-color: #6E8898;
    min-height: 500px;
      width: 90%;
    
}
h1{
    
    font-family: 'Raleway', sans-serif;
    font-size:17px;
    color:white;
    text-align:center;
}
img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
text-align:center;   
color:white;
font-size:14px;
}
h2{
    font-size:17px;
    font-family: 'Raleway', sans-serif;
    color:white;
    text-align:center;

}
.roles{
text-align:center;   
color:white;
font-family: 'Raleway', sans-serif;
display:inline-block;
min-width:45%;

}
h3{
    font-size:17px;
    font-family: 'Raleway',sans-serif;
    color:white;
    text-align: right;
}
.contactus{
    float:right;
    color:white;
    font-family:'Raleway',sans-serif;
    display:inline-block;
    font-size:14px;
    width:50%;
    text-align:center;
}
.contactus h3{
    text-align:center;
}

