
html{
    height:100%;
}
body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to bottom, #ffdab9, #ffdfd6, #ffe8ef, #fff4fd, #ffffff);
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    }
.nav ul{
    list-style:none;
    background-color: #6E8898;
    text-align:center;
    padding:0;
    margin:0;
   
}

.nav li{
    font-size:1.2em;
    line-height: 40px;
    height : 40px;
    border-bottom: 1px solid #6E8898;
    font-family: 'Raleway', sans-serif;

}

.nav a {
    text-decoration:none;
    color:#fff;
    display:block;
    transition:.3s background-color;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size: 18.5px;
   

}

.nav a:hover{
background-color:black;

}
.nav a.active{
    background-color:#fff;
    color:#6E8898;
    cursor:default;

}
@media screen and (min-width:600px){
    .nav li{
        width:120px;
        border-botton:none;
        height: 50px;
        line-height:50px;
        font-size:1.4em;

    }

}
.nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 360px;
    margin: 0 auto;
  }
  .nav {
    background-color: #6E8898;
    box-shadow: 6px 6px  #4F616C;
}
  
  .white-box {
    background-color:#6E8898;
    margin: 50px;
    box-shadow: 10px 10px #4F616C;
    height: 500px;
    width: 90%;

    }
  
